.split, .split-flex {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
}

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}


.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.gutter.gutter-horizontal {
    background-image: url('../images/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('../images/horizontal.png');
    cursor: ns-resize;
}