.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;

  margin-right: 40px;
}

.map-slider {
    background: #f5f5f5;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#map-wrapper {
    position: relative;
}

.slider {
    width: 60% !important;

}